@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 200px;
    height: 200px;
}  

.ingredientpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.title {
    width: 320px;
    padding: 20px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
}

.ingredientcard {
    width: 75vw;
    max-width: 75vw;
    height: 160px;
    border-radius: 20px;
    padding: 28px;
    background-color: #FFFFFF;
    border: solid 1px #EBEBEB;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 0 15px);
    text-align: left;
    margin: auto;
}

.ingredientcard > .name {
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ingredientcard > .description {
    font-size: 17px;
    font-weight: 500;
    line-height: 140%;
}

.ingredientImg {
    margin-top: 4vh;
    width: 60vh;
    transform: translate(calc(50vw - 30vh), 0%);
}

.selectbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    bottom: -4vh;
    width: 320px;
    height: 54px;
    border-radius: 30px; 
    background-color: #464646;
    margin: auto;
    margin-bottom: 40px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}

.selectbutton:hover {
    background-color: #333333;
}

.foodholder {
    position: absolute;
    top: calc(50% + 3vh);
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin: auto;
}


.ingredientMixImg {
    width: 280px;
    height: 200px;
    object-fit: cover;
}

.dishpage {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.dishtitle {
    width: 320px;
    padding: calc(5vh + 20px) 20px calc(2vh + 2px);
    margin: auto;
    font-size: 22px;
    font-weight: 800;
    text-align: left;    
}

.explain {
    width: 320px;
    padding: 20px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: left;    
}

.dishpage > .ingredientImg {
    position: absolute;
    z-index: 0;
    top: 520px;
    width: 260%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.buttonHolder {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.wordBtn {
    margin: 2.6vh;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border: solid 1px #EBEBEB;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 0 15px);
}

.wordBtn:hover {
    background-color: #FBFBFB;
}

.dishImg {
    margin-top: 0;
    width: 120%;
    height: 42vh;
    transform: translate(-8%, 0%);
    object-fit: cover;
}

.dishInfo {
    padding-top: 20px;
    width: 320px;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;    
}

.dishName {
    padding-top: 6px;
    width: 320px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;     
}